@keyframes introBox{
    0% {transform: scale(1.2);filter: blur(10px);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}
html, body {
    margin:0px;
    height:100%;
    background: black;
  }

  .background-container {
      height: 100%;
      width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(4,4,4,0.7) 100%), url(/assets/American_Flag_Crowd.png);
    background-size: cover;
    background-position: center center;
    animation: 1.5s ease normal forwards introBox;
    position: absolute;
  }
#main {
    height: 100%;
    animation: 1.5s ease normal forwards introBox;
}

.political-ad {
    width: 720px;
    height: 405px;
    display: block;
    margin: auto;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
.political-ad video {
    animation: 1.5s ease normal forwards introBox;
}